{% extends "base.html.twig" %}

{% block body %}

	<div style="background-image:url({{movie.background}}); background-repeat: no-repeat; background-size: cover; background-position: center;" class="detail-container">
		<div class="detail-container-column">
			<div class="detail">
				<h3>{{movie.title}}<h3></div>
					<img class="poster-detail" src="{{movie.image}}"/>
				</div>
				<div class="detail-container-column">
					<div class="detail">
						<h3>Duration:
							{{movie.duration}}
							minutes
						</h3>
					</div>
					<div class="detail-description">
						<p>{{movie.description}}</p>
					</div>

					<div text-align="center">
						<a target="_blank" class="submit btn" href="{{movie.link}}">Watch</a>
						<a class="submit btn" href="{{path('deletePageMovie', {id:movie.id})}}">Delete</a>
						<a class="submit btn" href="{{path('movies')}}">Back to Movies</a>
						<a class="submit btn" href="{{path('favmovies', {'id':movie.id})}}">➕</a>
					</div>
				</div>
			</div>

		{% endblock %}
